*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--orange: #ffa100;
	--hoverorange: #d08300;
}

a {
	text-decoration: none;
	color: white;
}

p{
	color: black;
	text-align: left;
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: var(--orange);
	border: 2px solid black;
	border-radius: 10px;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}

.button:hover {
	color: white;
	background-color: var(--hoverorange);
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	aligh-items: center;
	justify-content: center;
}

section {
	background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
	max-width: 1300px;
	margin: auto;
	border-radius: 10px;
}

.section-title{
	padding-top: 20px;
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span {
	color: var(--orange);
}

body {
	background-image: url("../Images/backgroundProfile.png");
	background-size: cover;
	background-position: center center;
	font-family: poppins;
	font-weight: 600;
	font-size: 16px;
}

/*Nav bar*/

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.brand h1 span {
	color: var(--orange);
}

#header {
	background: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
	border-bottom-right-radius: 15px;
}

.header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-bar ul{
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-bar ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: var(--orange);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background: white;
	transition: .3 ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before{
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}

/*End of nav bar*/

/* Personal information*/

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .pIContent {
	width: 100%;
}

#about .pIContent h2 {
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-bottom: 10px;
}

/* End of personal information */

/* Order */

#orders .orders{
	flex-direction: column;
	text-align: center;
	max-width: 2000px;
	
}

#orders .order-top p{
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
	text-align: center;
}

#orders .order-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#orders .order-item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url("../Images/orderBackground.png");
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 2px solid black;
}

#orders .order-item::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgb(255,161,0);
    background: linear-gradient(90deg, rgba(255,161,0,0.9) 0%, rgba(255,161,0,0.3) 100%);
	z-index: -1;
}

#orders .order-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#orders .order-item h2{
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#orders img{
	height: 100%;
	width: 100%;
}

#orders .button {
	display: table-row;
	padding: 30px;
	color: white;
	background-color: transparent;
	border: 0;
	border-radius: 10px;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 0px;
}

/* End of orders */

/* Keyframes */

@keyframes hamburger_pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* End of keyframes*/

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	
	h1.section-title {
		font-size: 6rem;
	}

	/* Services Section */
	#orders .order-bottom .order-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	
	#header .nav-list ul li {
		display: inline-block;
	}
	
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#orders .order-bottom .order-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */